In [2]:
import csv
import random
import pandas as pd
import re
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [1]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.5/1.5 MB 25.0 MB/s eta 0:00:00
Requirement already satisfied: click in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (2023.8.8)
Requirement already satisfied: tqdm in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (4.66.1)
Installing collected packages: nltk
Successfully installed nltk-3.8.1

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [3]:
df = pd.read_csv('/data/notebook_files/ConcordiaChat_ulfiltered.csv')

In [4]:
df

,Date,Username,User tag,Content,Mentions,link
0,"2023-01-13,12:37:44",bougaa,#0,Anybody here with cloud experience? and or wor...,NaN,NaN
1,"2023-01-13,15:45:12","""Eyad Abou Ker[IGT]+[CDH]""",#1826,Hi anyone here with good knowledge in HTML CSS...,NaN,NaN
2,"2023-01-13,17:15:41",felixfelixfelix,#5119,We're a team mainly comprised of data scientis...,NaN,NaN
3,"2023-01-13,19:30:59",DankDora,#3469,Hello! Looking for 2 more members! Iâ€™m a stude...,NaN,NaN
4,"2023-01-13,21:40:58",roco5marco,#0,Hey guys! I'm a first year software engineerin...,NaN,NaN
...,...,...,...,...,...,...
158,"2023-01-22,15:02:27",al3x7643,#0,Who?,NaN,NaN
159,"2023-01-22,16:48:47",Darkok,#9818,Am down for some unpaid internship I only have...,yusufr#0,NaN
160,"2023-01-22,16:49:38",yusufr,#0,"Sorry, your qualifications are insufficient fo...",Darkok#9818,NaN
161,"2023-01-22,16:52:33",Darkok,#9818,I forgot to mention that am currently trying t...,yusufr#0,NaN
162,"2023-01-22,16:53:19",yusufr,#0,"Unfortunately, you need to be able to build AI...",Darkok#9818,NaN

In [5]:
df_copy=df

In [6]:
df_copy["Content"]=df_copy["Content"].apply(clean)
df_copy

NameError: NameError: name 'clean' is not defined

In [7]:
df_copy["Content"]

In [8]:

nltk.download('stopwords')
nltk.download('punkt')
def clean(content):
    #Clear bracketed texts
    content=re.sub(r'<[^>]*>','',content)
    #Remove url
    content = re.sub(r'http\S+', 'URL', content)
    #Clear punctuations
    content = re.sub(r'[^\w\s]+', ' ', content)
    #remove extra spaces
    content = ' '.join(content.lower().split())

    return content

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/datalore/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /home/datalore/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [9]:
#test
example1="<@756516000454672487> hi brahim:) , Here ðŸ™‚ are some of my projects: https://www.linkedin.com/in/brahim-hamid-oudjana-35023a123/i <sdskhd> sent??... you a dm!!"
cleaned_example1=clean(example1)

In [10]:
df_copy["Content"]=df_copy["Content"].apply(clean)
df_copy

,Date,Username,User tag,Content,Mentions,link
0,"2023-01-13,12:37:44",bougaa,#0,anybody here with cloud experience and or work...,NaN,NaN
1,"2023-01-13,15:45:12","""Eyad Abou Ker[IGT]+[CDH]""",#1826,hi anyone here with good knowledge in html css...,NaN,NaN
2,"2023-01-13,17:15:41",felixfelixfelix,#5119,we re a team mainly comprised of data scientis...,NaN,NaN
3,"2023-01-13,19:30:59",DankDora,#3469,hello looking for 2 more members i m a student...,NaN,NaN
4,"2023-01-13,21:40:58",roco5marco,#0,hey guys i m a first year software engineering...,NaN,NaN
...,...,...,...,...,...,...
158,"2023-01-22,15:02:27",al3x7643,#0,who,NaN,NaN
159,"2023-01-22,16:48:47",Darkok,#9818,am down for some unpaid internship i only have...,yusufr#0,NaN
160,"2023-01-22,16:49:38",yusufr,#0,sorry your qualifications are insufficient for...,Darkok#9818,NaN
161,"2023-01-22,16:52:33",Darkok,#9818,i forgot to mention that am currently trying t...,yusufr#0,NaN
162,"2023-01-22,16:53:19",yusufr,#0,unfortunately you need to be able to build ai ...,Darkok#9818,NaN

In [12]:

def tokenise_chat(chat_text):
    # Tokenize text
    tokens = word_tokenize(chat_text)
    # Remove stopwords
    stopwords_list = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stopwords_list]
    return tokens

In [13]:
df_copy["Content"]=df_copy["Content"].apply(tokenise_chat)

In [14]:
front_end=["html","css","javascript","react","typescript","mern","js","node","ts","swift","android","wix"]
back_end=["python","java","c","asp","c++","sql","database","flask","node","php","ml","machine","nlp","mongodb","mongo","solidity","aws","cloud","azure","mern"]

In [15]:
df_copy["Content"]

In [16]:
def label_skills(content):
    skills=[]
    marker=""
    flag=True
    for token in content:
        if token in front_end:
            skills.append(token)
        elif token in back_end:
            skills.append(token)
        else:
            continue
    unique_list = list(set(skills))
    for skill in unique_list:
        if skill in front_end and flag:
            marker="frontend"
            flag=!flag
        elif skill in back_end and flag:
            marker="backend"
            flag=!flag
        elif flag==False and len(marker)>0:
            marker="fullstack"
        else:
            break
    return marker

In [19]:
df_marker=df_copy["User tag"]
df_copy["stack"]=df_copy["Content"].apply(label_skills)

In [20]:
df_marker=df_copy[["Username","stack"]]
value_to_drop = ""
df_marker = df_marker[df_marker['stack'] != value_to_drop]
df_marker

,Username,stack
0,bougaa,backend
1,"""Eyad Abou Ker[IGT]+[CDH]""",frontend
3,DankDora,backend
4,roco5marco,backend
9,deeppomal,frontend
...,...,...
137,vikingcanadian,backend
139,mediumchad,backend
140,"""Eyad Abou Ker[IGT]+[CDH]""",frontend
148,sherlockholmes777,frontend
161,Darkok,backend

In [21]:
reduced_dataframe=df_marker.iloc[:20]
reduced_dataframe

,Username,stack
0,bougaa,backend
1,"""Eyad Abou Ker[IGT]+[CDH]""",frontend
3,DankDora,backend
4,roco5marco,backend
9,deeppomal,frontend
10,TW,backend
11,yusufr,backend
12,10retr066,backend
13,Shrawan,backend
14,itspennybags,frontend
15,babibbibab,frontend
16,bigfishi,backend
17,ayaan6377,backend
18,_sylent,backend
19,kirrbz,frontend
20,mafuckinstarboy,backend
22,nibxll,backend
23,dankestjeans85,backend
26,cocojambo76,backend
27,thekarma123,backend

In [23]:
#DEMO
intro="Hi My name is Swagat. I have some experience with React and javascript. Looking for teammates to hack."

In [31]:
#Backend Processing
Label=label_skills(tokenise_chat(intro))
print(Label)
matches=reduced_dataframe[reduced_dataframe['stack'] !=Label ]
matches

frontend

,Username,stack
0,bougaa,backend
3,DankDora,backend
4,roco5marco,backend
10,TW,backend
11,yusufr,backend
12,10retr066,backend
13,Shrawan,backend
16,bigfishi,backend
17,ayaan6377,backend
18,_sylent,backend
20,mafuckinstarboy,backend
22,nibxll,backend
23,dankestjeans85,backend
26,cocojambo76,backend
27,thekarma123,backend