In [30]:
import csv
import random
import pandas as pd
import re
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [14]:
!pip install nltk

Requirement already satisfied: nltk in /opt/python/envs/default/lib/python3.8/site-packages (3.8.1)
Requirement already satisfied: click in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (2023.8.8)
Requirement already satisfied: tqdm in /opt/python/envs/default/lib/python3.8/site-packages (from nltk) (4.66.1)

In [15]:
pip install --upgrade pip

Requirement already satisfied: pip in /opt/python/envs/default/lib/python3.8/site-packages (23.2.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
df = pd.read_csv('/data/notebook_files/ConcordiaChat_ulfiltered.csv')

In [17]:
df

,Date,Username,User tag,Content,Mentions,link
0,"2023-01-13,12:37:44",bougaa,#0,Anybody here with cloud experience? and or wor...,NaN,NaN
1,"2023-01-13,15:45:12","""Eyad Abou Ker[IGT]+[CDH]""",#1826,Hi anyone here with good knowledge in HTML CSS...,NaN,NaN
2,"2023-01-13,17:15:41",felixfelixfelix,#5119,We're a team mainly comprised of data scientis...,NaN,NaN
3,"2023-01-13,19:30:59",DankDora,#3469,Hello! Looking for 2 more members! Iâ€™m a stude...,NaN,NaN
4,"2023-01-13,21:40:58",roco5marco,#0,Hey guys! I'm a first year software engineerin...,NaN,NaN
...,...,...,...,...,...,...
158,"2023-01-22,15:02:27",al3x7643,#0,Who?,NaN,NaN
159,"2023-01-22,16:48:47",Darkok,#9818,Am down for some unpaid internship I only have...,yusufr#0,NaN
160,"2023-01-22,16:49:38",yusufr,#0,"Sorry, your qualifications are insufficient fo...",Darkok#9818,NaN
161,"2023-01-22,16:52:33",Darkok,#9818,I forgot to mention that am currently trying t...,yusufr#0,NaN
162,"2023-01-22,16:53:19",yusufr,#0,"Unfortunately, you need to be able to build AI...",Darkok#9818,NaN

In [18]:
df_copy=df

In [19]:
df_copy["Content"]=df_copy["Content"].apply(clean)
df_copy

NameError: NameError: name 'clean' is not defined

In [7]:
df_copy["Content"]

In [35]:

nltk.download('stopwords')
nltk.download('punkt')
def clean(content):
    #Clear bracketed texts
    content=re.sub(r'<[^>]*>','',content)
    #Remove url
    content = re.sub(r'http\S+', 'URL', content)
    #Clear punctuations
    content = re.sub(r'[^\w\s]+', ' ', content)
    #remove extra spaces
    content = ' '.join(content.lower().split())

    return content

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/datalore/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/datalore/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [29]:
#test
example1="<@756516000454672487> hi brahim:) , Here ðŸ™‚ are some of my projects: https://www.linkedin.com/in/brahim-hamid-oudjana-35023a123/i <sdskhd> sent??... you a dm!!"
cleaned_example1=clean(example1)

In [37]:
df_copy["Content"]=df_copy["Content"].apply(clean)
df_copy

,Date,Username,User tag,Content,Mentions,link
0,"2023-01-13,12:37:44",bougaa,#0,anybody here with cloud experience and or work...,NaN,NaN
1,"2023-01-13,15:45:12","""Eyad Abou Ker[IGT]+[CDH]""",#1826,hi anyone here with good knowledge in html css...,NaN,NaN
2,"2023-01-13,17:15:41",felixfelixfelix,#5119,we re a team mainly comprised of data scientis...,NaN,NaN
3,"2023-01-13,19:30:59",DankDora,#3469,hello looking for 2 more members i m a student...,NaN,NaN
4,"2023-01-13,21:40:58",roco5marco,#0,hey guys i m a first year software engineering...,NaN,NaN
...,...,...,...,...,...,...
158,"2023-01-22,15:02:27",al3x7643,#0,who,NaN,NaN
159,"2023-01-22,16:48:47",Darkok,#9818,am down for some unpaid internship i only have...,yusufr#0,NaN
160,"2023-01-22,16:49:38",yusufr,#0,sorry your qualifications are insufficient for...,Darkok#9818,NaN
161,"2023-01-22,16:52:33",Darkok,#9818,i forgot to mention that am currently trying t...,yusufr#0,NaN
162,"2023-01-22,16:53:19",yusufr,#0,unfortunately you need to be able to build ai ...,Darkok#9818,NaN

In [34]:
token=word_tokenize(cleaned_example1)
token

['hi',
 'brahim',
 'here',
 'are',
 'some',
 'of',
 'my',
 'projects',
 'url',
 'sent',
 'you',
 'a',
 'dm']

In [36]:

def tokenise_chat(chat_text):
    # Tokenize text
    tokens = word_tokenize(chat_text)
    # Remove stopwords
    stopwords_list = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stopwords_list]
    return tokens

In [38]:
df_copy["Content"]=df_copy["Content"].apply(tokenise_chat)

In [39]:
df_copy["Content"]

In [53]:
from gensim.models import Word2Vec

# Create and train the Word2Vec model
model = Word2Vec(sentences=df_copy["Content"], vector_size=100, window=5, min_count=1, sg=0)

In [54]:
vector = model.wv["concordia"]
vector

In [45]:
model.save("discord_chat_word2vec.model")

In [66]:
similar_words = model.wv.most_similar("masters")
similar_words

[('data', 0.35552290081977844),
 ('ml', 0.32721826434135437),
 ('fun', 0.3038480281829834),
 ('join', 0.29089614748954773),
 ('strong', 0.2808547616004944),
 ('goal', 0.269493967294693),
 ('end', 0.261987566947937),
 ('creating', 0.26140421628952026),
 ('4th', 0.26119503378868103),
 ('mostly', 0.2549818456172943)]

In [67]:
model.wv.most_similar(positive=["first", "experience"], negative=["masters"], topn=3)

[('member', 0.5822976231575012),
 ('good', 0.5815702676773071),
 ('also', 0.5713886618614197)]

In [70]:
model.wv.doesnt_match(['old', 'new', 'first'])

'first'